.sulmyoung {
    text-align: center;
    font-family: TmoneyRoundWindExtraBold;
}
.con-name1 {
    background-color: rgb(231, 243, 255);
    display: block;
    font-size: 40px;
    font-family: TmoneyRoundWindRegular;
    margin-top: 1em;
}
.con-inner1 {
    font-family: TmoneyRoundWindRegular
}
.con-name2 {
    display: block;
}
.con-inner2 {
    background-color: rgb(228, 255, 255);
    width: 100%;
}
.column {
    font-size: 26px;
    
}

.items {
    overflow: scroll;
    background-color: rgb(249, 255, 248);
    font-size: 17px;
    text-align: center;
    margin-bottom: 2em;
}

.item-container {
    display: table-cell;
    padding: 10px;
    /* height: 100px; */
}
.item-container:hover {
    background-color: rgba(222, 222, 222, 50%);
    cursor: pointer;
    display: table-cell;
}

.opt-con {
    position: relative;
}

.extra {
    padding: 10px 0px;
}
.extra:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.price-con {
    padding: 10px 0px;
}
.price-con:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.size-up {
    /* position: absolute;;
    right: 0px;
    bottom: -20px; */
}
.size-up:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.taste {
    padding: 10px 0px;
}

.taste:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.type {
    padding: 10px 0px;
}    

.type:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.candle {
    padding: 10px 0px;
}    

.candle:hover {
    background-color: rgba(100, 100, 100, 50%);
}

.sulmyoung {
    
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* background-color: whitesmoke; */
}
#container-2 {
    padding: 2em;
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    text-align: center;
    background-color: whitesmoke;
}


@font-face {
    font-family: 'Jal_Onuel';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Onuel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#show-log {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Jal_Onuel';
    margin: 10px;;
    background-color: #222222;
    color: rgb(245, 245, 245);
}

#show-log:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 50%);
}

#show-menu {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Jal_Onuel';
    margin: 10px;;
    background-color: #222222;
    color: rgb(245, 245, 245);
}

#show-menu:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 50%);
}

#show-doum {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Jal_Onuel';
    margin: 10px;;
    background-color: #222222;
    color: rgb(245, 245, 245);
}

#show-doum:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 50%);
}

#to-menu-manage {
    display: inline-block;
    padding: 10px;
    font-size: 1.5em;
    font-family: 'Jal_Onuel';
    margin: 10px;;
    background-color: #7a0000;
    color: rgb(245, 245, 245);
}

#to-menu-manage:hover {
    cursor: pointer;
    background-color: rgba(100, 100, 100, 50%);
}

@font-face {
    font-family: 'TmoneyRoundWindExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.item-container.recent-added-week {
    background-color: rgb(197, 187, 255);
}

.item-container.recent-added-week:hover {
    background-color: rgb(54, 54, 54, 70%);
}

.item-container.recent-added-three {
    background-color: rgb(255, 191, 252);
}
.item-container.recent-added-three:hover {
    background-color: rgb(54, 54, 54, 70%);
}

.item-container.recent-added-yesterday {
    background-color: rgb(255, 123, 123);
    color: rgb(241, 241, 241);
}
.item-container.recent-added-yesterday:hover {
    background-color: rgb(54, 54, 54, 70%);
}

.inner-text-memo {
    overflow: scroll;
    position: fixed;
    left: 20%;
    top: 20%;
    width: 50%;
    height: 50%;
    background-color: rgba(54, 54, 54, 80%);
    z-index: 1;
    font-size: 1.5em;
    color: aliceblue;
    font-family: TmoneyRoundWindRegular;
    padding: 5%;
}
.inner-text-memo:hover {
    background-color: rgb(54, 54, 54);
}

.log-item-container {
    list-style: inside;
    text-align: left;
}

.item-caution {
    background-color: rgb(255, 255, 107);
}

.bm-collapse-button {
    /* padding: 3px; */
    margin-left: 10px;
    display: inline;
    margin-bottom: 5px;
    
    cursor: pointer;
    /* box-sizing: initial; */
    font-family: TmoneyRoundWindRegular;
    
    padding: 1px 6px;
    border-width: 2px;
    border-style: groove;
}
.bm-collapse-button:hover {
    background-color: rgb(54, 54, 54, 70%);
    color: rgb(0, 24, 70);
}


@media (max-width: 768px) {
    body {
        background-color: whitesmoke;
    }
}
@media (min-width: 768px) {
    body {
        background-color: white;
    }
}